.body {
  width: 100vw;
  height: 100vh;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  min-width: 1rem;
  min-height: 1rem;
  margin: 0.1rem;
  background-color: grey;
}
